<!DOCTYPE html>
<html>
<head>
    <title>Loan Approval System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}?v=999">
</head>
<body>
  <div id="main">
  <div id="heading">
    <h2>Loan Approval Prediction</h2>
  </div>
<div id="details">


<form action="/predict" method="post">
<label>ApplicantIncome :</label><br>
<input name="ApplicantIncome" placeholder="Applicant Income"><br><br>
<label>CoapplicantIncomome :</label><br>
<input name="CoapplicantIncome" placeholder="Coapplicant Income"><br><br>
<label>LoanAmount :</label><br>
<input name="LoanAmount" placeholder="Loan Amount"><br><br>
<label>Loan_Amount_Term :</label><br>
<input name="Loan_Amount_Term" placeholder="Loan Term"><br><br>
<label>Credit_Score :</label><br>
<input name="Credit_Score" placeholder="Credit Score"><br><br>
<label>Credit_History :</label><br>
<select name="Credit_History">
  <option value="1">Good</option>
  <option value="0">Bad</option>
</select><br><br>
<label>Age :</label><br>
<input name="Age" placeholder="Age"><br><br>
<label>Education :</label><br>
<select name="Education">
  <option value="Graduate">Graduate</option>
  <option value="Not Graduate">Not Graduate</option>
</select><br><br>
<label>Employment_Status :</label><br>
<select name="Employment_Status">
  <option value="Salaried">Salaried</option>
  <option value="Self_Employed">Self_Employed</option>
  <option value="Unemployed">Unemployed</option>
</select><br><br>
<label>Property_Area</label><br>
<select name="Property_Area">
  <option value="Urban">Urban</option>
  <option value="Semiurban">Semiurban</option>
  <option value="Rural">Rural</option>
</select><br><br>



<button id="btn" type="submit">Predict</button>
</form>
<h3>{{ prediction_text }}</h3>
</div>
</div>
</body>
</html>